{% extends "main.html" %}
{% block content %}
<body>
<div class="container">
   <h2> Inspiration behind the project:</h2>
     <p>Traditional vegetables in Africa are plenty in the market
        yet we do not know how to identify them by their names. If
        we know the names, we don't know how they look like. This is
        why we decided to come up with the Tambua Mboga web application
        to help know our vegetables.
      </p>
   <h3>Project done by:</h3>
      <a href="https://github.com/Miss24Chimboto">Annastansia Ochuku</a><br>
      <a href="https://github.com/kendimuthomi">Jackline Muthomi</a>
   <h3>The link to the github repository is below:</h3>
       <a href="https://github.com/Miss24Chimboto/Tambua-Mboga">Tambua-Mboga</a>
</div>
{% endblock content %}
</body>
