X{% extends "main.html" %}
{% block content %}
<div id=container>
<div id="banner">
  <div id="header">
    <img src="static/banner.jpg" class="img-fluid" alt="test", width="12000px" height="6000px" />
      <div class="side-nav">
           <div class="content-section">
               <h3>Find more here</h3>
                 <ul class="list-group">
                   <li class="list-group-item list-group-item-light">Fruits</li>
                   <li class="list-group-item list-group-item-light">Vegetables</li>
                   <li class="list-group-item list-group-item-light">Roots</li>
                   <li class="list-group-item list-group-item-light">Seeds</li>
                   <li class="list-group-item list-group-item-light">Flowers</li>
                 </ul>
		 </br>
         </div>
         </div>
</div>
<div>
</div>
{% endblock content %}
{% block footer %} {% endblock footer %}
