{% extends "main.html" %}
{% block content %}
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search">        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>        
        </form>         
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
