{% extends "main.html" %}
<header></header>
{% block hero_element %}
<div class=container>
      <img src="static/veg_banner.jpg" class="img-fluid" alt="test", width="1000px" height="800px" />
    <div>
     <h3 class="text-center font-weight-bold">Know your vegetables and eat better!</h3> 
   </div>
</div>
{% endblock hero_element %}
<body>
{% block content %}
<!-- The about section -->
<div class=container>
<style>
fieldset{
          background-position:center;
          background-repeat:no-repeat;
          background-size:cover;
}
p#innerPara{padding:20px ;}       
legend{width:200px;padding:10px 20px;}
</style>
 
   <div class="col-lg-11">
     <fieldset class="border"> 
       <legend class ='text-center'>About us</legend>

         <p id="innerPara">
The link between poor diet and diseases has been demonstrated to be significant; therefore, people are being encouraged to eat healthy foods, especially vegetables. However, not many know all the vegetables, how to prepare and cook them, and what nutritional value they hold. This is where Tambua Mboga comes in. It provides the names of the vegetables, various recipes, their nutritional value, and also how they can be grown and nurtured. This removes the stress from individuals trying to be healthy but who don’t know where to begin.
       </p>
 </fieldset>
 </div>  
</div>

<!--The page description under index -->
<div class=container>
<div class="description">
<div class="card" style="width: 18rem;">
 <img src="static/veg2.jpg" class="card-img-top">
 <div class="card-body">
  <h5 class="card-title">Identify vegetables</h5>
  <p class="card-text">Tambua Mboga helps identify vegetables</p>
</div>
</div>

<div class="card" style="width: 18rem;">
 <img src="static/recipe1.jpg" class="card-img-top">
 <div class="card-body">
  <h5 class="card-title">Find recipes</h5>
  <p class="card-text">Tambua Mboga contains various recipes</p>
 </div>
</div>

<div class="card" style="width: 18rem;">
<img src="static/calorie.jpg" class="card-img-top">
<div class="card-body">
<h5 class="card-title">Gives the nutritional value</h5>
<p class="card-text">For each item, Tambua Mboga will give you the nutritional value</p>
</div>
</div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
</body>
