{% extends "main.html" %}
<head>
    <title>Recipe</title>
</head>
{% block content %}
<h3>Recipes</h3>
  <p>Find amazing recipes on this page</p>
<body>
<div class="recipe_card1">
<header class="w3-container w3-green">
  <h1>Garlic Spinach and Salmon</h1>
    <div class="w3-card-4">
</header>
      <div class="image1">
        <img src="{{ url_for('static', filename='recipe_card1.jpg')}}", width="500", height="600">

<div class="w3-container">
  <p>Some text.. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="footer">   
<footer class="w3-container w3-green">
     <a href="https://www.bbcgoodfood.com/recipes/creamy-garlic-lemon-spinach-salmon" Click for more</a>
</footer>
</div>

    <div class="recipe_card2">
    <header class="w3-container w3-green">
      <h1>Mashed potatoes, bacon and sukuma wiki</h1>
        <div class="w3-card-4">
          <img src="{{ url_for('static', filename='recipe_card2.jpg')}}", width="500", height="600">
        </div>
    </header>

    <div class="w3-container">
      <p>Some text.. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat></div>

     <footer class="w3-container w3-green"
         <h5>Click for more</h5>
           <a href="https://www.bbcgoodfood.com/recipes/creamy-garlic-lemon-spinach-salmon" Click for more</a>
     </footer>
    </div>
    </div>

    <div class="recipe_card3">
    <header class="w3-container w3-green">
      <h1>Egg, Managu,Avocado and Fig</h1>
        <div class="w3-card-4">
          <img src="{{ url_for('static', filename='recipe3.jpg')}}", width="600", height="400">
        </div>
    </header>

    <div class="w3-container">
      <p>Some text.. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat></div>
     
    <footer2 class="w3-container w3-green">
      <h5>Click for more</h5>
        <a href="https://www.bbcgoodfood.com/recipes/creamy-garlic-lemon-spinach-salmon" Click for more</a>
    </footer2>
    </div>
    </div>
<div class="recipe_card4">
    <header class="w3-container w3-green">
      <h1>Kale and Chick pea salad</h1>
        <div class="w3-card-4">
          <img src="{{ url_for('static', filename='recipe2.jpg')}}", width="500", height="600">
        </div>
    </header>

    <div class="w3-container">
      <p>Some text.. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat></div>
    
    <footer3 class="w3-container w3-green">
      <h5>Click for more</h5>
        <a href="https://www.bbcgoodfood.com/recipes/creamy-garlic-lemon-spinach-salmon" Click for more</a>
    </footer3>
</div>
</div>
</body>
{% endblock content %}
